.location-section {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
    align-items: center;
   
    padding: 60px 10%;
    background-color: #fefaf1;
    flex-wrap: wrap;
    height: auto;
}

.location_image {
    flex: 1;
    
    display: flex;
    justify-content: center;
    margin-right: 30px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.location_image img {
    object-fit: cover;
    width: 100%;
    max-height: 70vh;
}

.location_location-content {
    flex: 1;

}

.location_subtitle {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #7d7e7c;
    margin-bottom: 10px;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.location_main-title {
    font-size: 30px;
    font-weight: 400;
    font-family: "Playfair Display", serif;
    margin-bottom: 25px;
    line-height: 1.4;
    color: #222;
}

.location-points {
    list-style: none;
    padding: 0;
    margin: 0;
}

.location-points li {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #7d7e7c;
    margin-bottom: 15px;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.location-points .icon {
    color: #b08968;
    margin-right: 12px;
    font-size: 18px;
    width: 25px;
}

@media (max-width: 908px) {
    .location-section {
        grid-template-columns: none;
        grid-template-rows: auto auto;
        height: auto;
        padding: 30px 5%;
    }

    .locatio_image {
        margin-right: 0px;
        margin-bottom: 30px;
        max-height: 50vh;

    }

    .location_subtitle {
        font-size: clamp(4px, 6vw, 16px);
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #7d7e7c;
        margin-bottom: 10px;
        font-family: "Mulish", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    .location_main-title {
        font-size: clamp(6px, 8vw, 25px);

    }

    .location-points li {
        font-size: clamp(4px, 4vw, 12px);
        margin-bottom: 5px;
    }

}