.clover_spr {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 2% 10%;
  min-height: 80vh;
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease-in-out;
}

.clover_spr.animate {
  opacity: 1;
  transform: translateY(0);
}

.clover_spr-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.clover_spr-image img {
  width: 100%;
  max-width: 450px;
  height: auto;
  object-fit: cover;
  border-radius: 50% 50% 50% 0; /* rounded top arch */
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.clover_spr-text {
  flex: 1;
  text-align: left;
}

.clover_spr-text h2 {
  font-size:  clamp(18px, 2vw, 26px);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.2rem;
  color: #111;
}

.clover_spr-text p {
  font-size: clamp(14px, 2vw, 20px);
  line-height: 1.6;
  color: #333;
}

/* Responsive */
@media (max-width: 991px) {
  .clover_spr {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

}
