/* Container */
.listed_project_container{
    margin-top: 3rem;
    background: linear-gradient(180deg, #100b28, #323744 36.46%, #535c70 67.19%, #100b28);

}
.listed_projects {
  padding: 40px 20px;
  max-width: 1300px;
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

.listed_projects h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Navbar Tabs */
.listed_project_navbar {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 35px;
  overflow-x: auto;
  scrollbar-width: none;
}

.listed_project_navbar span {
  padding: 10px 10px 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  min-width: fit-content;
}
.project_filter:hover,
.listed_project_navbar span:hover {
    color: #EFD7A1;

}

.listed_project_navbar span.active {
  color: #EFD7A1;
  border-bottom: 2px solid #EFD7A1;
}
.project_filter{
    font-size: 20px;
}
/* Project Grid */
.listed_project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 25px;
}

/* Project Card */
.listed_project-card {
  /* background-color: #323744; */
  display: flex;
  align-items: flex-end;
  height: 400px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  text-shadow: 1px 1px 3px black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.listed_project-card a{
  width: 100%;
  text-decoration: none;
}

.listed_project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.listed_project-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
.listed_detail{
  padding: 1rem 5px 5px;
  width: 100%;
  background-color: #3237448a;
  position: relative;
}
.listed_detail .dev_logo{
  position: absolute;
  top: 0;
  left: 50px;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #2e2d2d72;
  z-index: 1;

}
.dev_logo img{
  object-fit: cover;
  max-height: 100%;
}
/* Project Info */
.listed_project-card h3 {
  font-size: 20px;
  margin: 12px 15px 5px;
  color: #EFD7A1;

}

.listed_project-card p {
  font-size: 14px;
  margin: 5px 15px;
  color: #ffffff;
}

.listed_project-card .listed_price {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 15px 15px;
  color: #ffffff;
}

/* Responsive */
@media (max-width: 1000px) {
.listed_project_navbar {
  justify-content: flex-start;
}

}
@media (max-width: 768px) {
  .listed_projects h2 {
    font-size: 22px;
  }

  .listed_project_navbar span {
    font-size: 12px;
    padding: 8px 10px;
  }

  
}
