.scrollingPannel{
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.CardImg {
    height: 300px;
}



.CardImg {
    border: 5px solid;
    border-image: linear-gradient(to right, rgb(72, 180, 222), rgb(33, 28, 132));
    animation: moving-border 5s infinite;
    border-image-slice: 1;
}

.cardContainer {
    border: none;
    box-shadow: 0 6px 12px rgba(149, 149, 149, 0.1);
    border: .5px solid #c8c8c8bf;
    &:hover{
       box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    }
}

.stickerimages {
    position: relative;
}

.logoImage {
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 50%;
    background-color: aliceblue;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);


}

.logoImage img {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #e0dfdfb3;

}

.stickerimages p {
    text-align: end;
    position: absolute;
    bottom: -5px;
    right: 5px;
    width: 90%;
    background-color: #717070b9;
    font-size: 8px;
    font-weight: 400;
    padding-right: 5px;
    color: white;
}

.viewOfferButton {
    background-color: rgb(33, 28, 132);
    border: "none";
    &:hover {
        border: 1px solid rgb(33, 28, 132);
        background-color: white;
        color: rgb(33, 28, 132)
    }
}