.immersive-container {
  text-align: center;
  width: 100%;
  /* padding: 40px 20px; */
}

.immersive-heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.tab-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.tab-btn {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: #f3f3f3;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.tab-btn:hover {
  background: #ddd;
}

.tab-btn.active {
  background: #4cd137;
  color: white;
}

.video-thumbnail {
  position: relative;
  display: inline-block;
  max-height: 85vh;
  width: 95%;
  /* max-width: 800px; */
}

.video-img {
  object-fit: cover;
  width: 100%;
  max-height: 85vh;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
}



